# Predict Titanic Survival

The RMS Titanic set sail on its maiden voyage in 1912, crossing the Atlantic from Southampton, England to New York City. The ship never completed the voyage, sinking to the bottom of the Atlantic Ocean after hitting an iceberg, bringing down 1,502 of 2,224 passengers onboard.

In this project we will create a Logistic Regression model that predicts which passengers survived the sinking of the Titanic, based on features like age and class.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [4]:
passengers = pd.read_csv('passengers.csv', index_col=[0])

In [8]:
passengers

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
passengers.shape

(891, 12)

##### The file 'passengers.csv' contains the data of 892 passengers onboard the Titanic when it sank that fateful day.

Given the saying, “women and children first,” Sex and Age seem like good features to predict survival. Let’s map the text values in the Sex column to a numerical value. Update Sex such that all values female are replaced with 1 and all values male are replaced with 0.

In [9]:
passengers['Sex'] = passengers['Sex'].map({'male':0,'female':1})
passengers

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,NaN,Q

In [17]:
passengers['Age'].values

array([22.  , 38.  , 26.  , 35.  , 35.  ,   nan, 54.  ,  2.  , 27.  ,
       14.  ,  4.  , 58.  , 20.  , 39.  , 14.  , 55.  ,  2.  ,   nan,
       31.  ,   nan, 35.  , 34.  , 15.  , 28.  ,  8.  , 38.  ,   nan,
       19.  ,   nan,   nan, 40.  ,   nan,   nan, 66.  , 28.  , 42.  ,
         nan, 21.  , 18.  , 14.  , 40.  , 27.  ,   nan,  3.  , 19.  ,
         nan,   nan,   nan,   nan, 18.  ,  7.  , 21.  , 49.  , 29.  ,
       65.  ,   nan, 21.  , 28.5 ,  5.  , 11.  , 22.  , 38.  , 45.  ,
        4.  ,   nan,   nan, 29.  , 19.  , 17.  , 26.  , 32.  , 16.  ,
       21.  , 26.  , 32.  , 25.  ,   nan,   nan,  0.83, 30.  , 22.  ,
       29.  ,   nan, 28.  , 17.  , 33.  , 16.  ,   nan, 23.  , 24.  ,
       29.  , 20.  , 46.  , 26.  , 59.  ,   nan, 71.  , 23.  , 34.  ,
       34.  , 28.  ,   nan, 21.  , 33.  , 37.  , 28.  , 21.  ,   nan,
       38.  ,   nan, 47.  , 14.5 , 22.  , 20.  , 17.  , 21.  , 70.5 ,
       29.  , 24.  ,  2.  , 21.  ,   nan, 32.5 , 32.5 , 54.  , 12.  ,
         nan, 24.  ,   nan, 45.  , 33.  , 20.  , 47.  , 29.  , 25.  ,
       23.  , 19.  , 37.  , 16.  , 24.  ,   nan, 22.  , 24.  , 19.  ,
       18.  , 19.  , 27.  ,  9.  , 36.5 , 42.  , 51.  , 22.  , 55.5 ,
       40.5 ,   nan, 51.  , 16.  , 30.  ,   nan,   nan, 44.  , 40.  ,
       26.  , 17.  ,  1.  ,  9.  ,   nan, 45.  ,   nan, 28.  , 61.  ,
        4.  ,  1.  , 21.  , 56.  , 18.  ,   nan, 50.  , 30.  , 36.  ,
         nan,   nan,  9.  ,  1.  ,  4.  ,   nan,   nan, 45.  , 40.  ,
       36.  , 32.  , 19.  , 19.  ,  3.  , 44.  , 58.  ,   nan, 42.  ,
         nan, 24.  , 28.  ,   nan, 34.  , 45.5 , 18.  ,  2.  , 32.  ,
       26.  , 16.  , 40.  , 24.  , 35.  , 22.  , 30.  ,   nan, 31.  ,
       27.  , 42.  , 32.  , 30.  , 16.  , 27.  , 51.  ,   nan, 38.  ,
       22.  , 19.  , 20.5 , 18.  ,   nan, 35.  , 29.  , 59.  ,  5.  ,
       24.  ,   nan, 44.  ,  8.  , 19.  , 33.  ,   nan,   nan, 29.  ,
       22.  , 30.  , 44.  , 25.  , 24.  , 37.  , 54.  ,   nan, 29.  ,
       62.  , 30.  , 41.  , 29.  ,   nan, 30.  , 35.  , 50.  ,   nan,
        3.  , 52.  , 40.  ,   nan, 36.  , 16.  , 25.  , 58.  , 35.  ,
         nan, 25.  , 41.  , 37.  ,   nan, 63.  , 45.  ,   nan,  7.  ,
       35.  , 65.  , 28.  , 16.  , 19.  ,   nan, 33.  , 30.  , 22.  ,
       42.  , 22.  , 26.  , 19.  , 36.  , 24.  , 24.  ,   nan, 23.5 ,
        2.  ,   nan, 50.  ,   nan,   nan, 19.  ,   nan,   nan,  0.92,
         nan, 17.  , 30.  , 30.  , 24.  , 18.  , 26.  , 28.  , 43.  ,
       26.  , 24.  , 54.  , 31.  , 40.  , 22.  , 27.  , 30.  , 22.  ,
         nan, 36.  , 61.  , 36.  , 31.  , 16.  ,   nan, 45.5 , 38.  ,
       16.  ,   nan,   nan, 29.  , 41.  , 45.  , 45.  ,  2.  , 24.  ,
       28.  , 25.  , 36.  , 24.  , 40.  ,   nan,  3.  , 42.  , 23.  ,
         nan, 15.  , 25.  ,   nan, 28.  , 22.  , 38.  ,   nan,   nan,
       40.  , 29.  , 45.  , 35.  ,   nan, 30.  , 60.  ,   nan,   nan,
       24.  , 25.  , 18.  , 19.  , 22.  ,  3.  ,   nan, 22.  , 27.  ,
       20.  , 19.  , 42.  ,  1.  , 32.  , 35.  ,   nan, 18.  ,  1.  ,
       36.  ,   nan, 17.  , 36.  , 21.  , 28.  , 23.  , 24.  , 22.  ,
       31.  , 46.  , 23.  , 28.  , 39.  , 26.  , 21.  , 28.  , 20.  ,
       34.  , 51.  ,  3.  , 21.  ,   nan,   nan,   nan, 33.  ,   nan,
       44.  ,   nan, 34.  , 18.  , 30.  , 10.  ,   nan, 21.  , 29.  ,
       28.  , 18.  ,   nan, 28.  , 19.  ,   nan, 32.  , 28.  ,   nan,
       42.  , 17.  , 50.  , 14.  , 21.  , 24.  , 64.  , 31.  , 45.  ,
       20.  , 25.  , 28.  ,   nan,  4.  , 13.  , 34.  ,  5.  , 52.  ,
       36.  ,   nan, 30.  , 49.  ,   nan, 29.  , 65.  ,   nan, 50.  ,
         nan, 48.  , 34.  , 47.  , 48.  ,   nan, 38.  ,   nan, 56.  ,
         nan,  0.75,   nan, 38.  , 33.  , 23.  , 22.  ,   nan, 34.  ,
       29.  , 22.  ,  2.  ,  9.  ,   nan, 50.  , 63.  , 25.  ,   nan,
       35.  , 58.  , 30.  ,  9.  ,   nan, 21.  , 55.  , 71.  , 21.  ,
         nan, 54.  ,   nan, 25.  , 24.  , 17.  , 21.  ,   nan, 37.  ,
       16.  , 18.  , 33.  ,   nan, 28.  , 26.  , 29.  ,   nan, 36.  ,
       54.  , 24.  , 47.  , 34.  ,   nan, 36.  , 32.  , 30.  , 22.  ,
         nan, 44.  ,   nan, 40.5 , 50.  ,   nan, 39.  , 23.  ,  2.  ,
         nan, 17.  ,   nan, 30.  ,  7.  , 45.  , 30.  ,   nan, 22.  ,
       36.  ,  9.  , 11.  , 32.  , 50.  , 64.  , 19.  ,   nan, 33.  ,
        8.  , 17.  , 27.  ,   nan, 22.  , 22.  , 62.  , 48.  ,   nan,
       39.  , 36.  ,   nan, 40.  , 28.  ,   nan,   nan, 24.  , 19.  ,
       29.  ,   nan, 32.  , 62.  , 53.  , 36.  ,   nan, 16.  , 19.  ,
       34.  , 39.  ,   nan, 32.  , 25.  , 39.  , 54.  , 36.  ,   nan,
       18.  , 47.  , 60.  , 22.  ,   nan, 35.  , 52.  , 47.  ,   nan,
       37.  , 36.  ,   nan, 49.  ,   nan, 49.  , 24.  ,   nan,   nan,
       44.  , 35.  , 36.  , 30.  , 27.  , 22.  , 40.  , 39.  ,   nan,
         nan,   nan, 35.  , 24.  , 34.  , 26.  ,  4.  , 26.  , 27.  ,
       42.  , 20.  , 21.  , 21.  , 61.  , 57.  , 21.  , 26.  ,   nan,
       80.  , 51.  , 32.  ,   nan,  9.  , 28.  , 32.  , 31.  , 41.  ,
         nan, 20.  , 24.  ,  2.  ,   nan,  0.75, 48.  , 19.  , 56.  ,
         nan, 23.  ,   nan, 18.  , 21.  ,   nan, 18.  , 24.  ,   nan,
       32.  , 23.  , 58.  , 50.  , 40.  , 47.  , 36.  , 20.  , 32.  ,
       25.  ,   nan, 43.  ,   nan, 40.  , 31.  , 70.  , 31.  ,   nan,
       18.  , 24.5 , 18.  , 43.  , 36.  ,   nan, 27.  , 20.  , 14.  ,
       60.  , 25.  , 14.  , 19.  , 18.  , 15.  , 31.  ,  4.  ,   nan,
       25.  , 60.  , 52.  , 44.  ,   nan, 49.  , 42.  , 18.  , 35.  ,
       18.  , 25.  , 26.  , 39.  , 45.  , 42.  , 22.  ,   nan, 24.  ,
         nan, 48.  , 29.  , 52.  , 19.  , 38.  , 27.  ,   nan, 33.  ,
        6.  , 17.  , 34.  , 50.  , 27.  , 20.  , 30.  ,   nan, 25.  ,
       25.  , 29.  , 11.  ,   nan, 23.  , 23.  , 28.5 , 48.  , 35.  ,
         nan,   nan,   nan, 36.  , 21.  , 24.  , 31.  , 70.  , 16.  ,
       30.  , 19.  , 31.  ,  4.  ,  6.  , 33.  , 23.  , 48.  ,  0.67,
       28.  , 18.  , 34.  , 33.  ,   nan, 41.  , 20.  , 36.  , 16.  ,
       51.  ,   nan, 30.5 ,   nan, 32.  , 24.  , 48.  , 57.  ,   nan,
       54.  , 18.  ,   nan,  5.  ,   nan, 43.  , 13.  , 17.  , 29.  ,
         nan, 25.  , 25.  , 18.  ,  8.  ,  1.  , 46.  ,   nan, 16.  ,
         nan,   nan, 25.  , 39.  , 49.  , 31.  , 30.  , 30.  , 34.  ,
       31.  , 11.  ,  0.42, 27.  , 31.  , 39.  , 18.  , 39.  , 33.  ,
       26.  , 39.  , 35.  ,  6.  , 30.5 ,   nan, 23.  , 31.  , 43.  ,
       10.  , 52.  , 27.  , 38.  , 27.  ,  2.  ,   nan,   nan,  1.  ,
         nan, 62.  , 15.  ,  0.83,   nan, 23.  , 18.  , 39.  , 21.  ,
         nan, 32.  ,   nan, 20.  , 16.  , 30.  , 34.5 , 17.  , 42.  ,
         nan, 35.  , 28.  ,   nan,  4.  , 74.  ,  9.  , 16.  , 44.  ,
       18.  , 45.  , 51.  , 24.  ,   nan, 41.  , 21.  , 48.  ,   nan,
       24.  , 42.  , 27.  , 31.  ,   nan,  4.  , 26.  , 47.  , 33.  ,
       47.  , 28.  , 15.  , 20.  , 19.  ,   nan, 56.  , 25.  , 33.  ,
       22.  , 28.  , 25.  , 39.  , 27.  , 19.  ,   nan, 26.  , 32.  ])

Looking at the Age column we have multiple missing values, or nans.
Hence we will fill all the empty Age values in passengers with the mean age.

In [21]:
passengers['Age'].fillna(inplace = True, value = round(passengers['Age'].mean()))
passengers['Age'].isnull().any()

False

In [22]:
passengers['Age'].values

array([22.  , 38.  , 26.  , 35.  , 35.  , 30.  , 54.  ,  2.  , 27.  ,
       14.  ,  4.  , 58.  , 20.  , 39.  , 14.  , 55.  ,  2.  , 30.  ,
       31.  , 30.  , 35.  , 34.  , 15.  , 28.  ,  8.  , 38.  , 30.  ,
       19.  , 30.  , 30.  , 40.  , 30.  , 30.  , 66.  , 28.  , 42.  ,
       30.  , 21.  , 18.  , 14.  , 40.  , 27.  , 30.  ,  3.  , 19.  ,
       30.  , 30.  , 30.  , 30.  , 18.  ,  7.  , 21.  , 49.  , 29.  ,
       65.  , 30.  , 21.  , 28.5 ,  5.  , 11.  , 22.  , 38.  , 45.  ,
        4.  , 30.  , 30.  , 29.  , 19.  , 17.  , 26.  , 32.  , 16.  ,
       21.  , 26.  , 32.  , 25.  , 30.  , 30.  ,  0.83, 30.  , 22.  ,
       29.  , 30.  , 28.  , 17.  , 33.  , 16.  , 30.  , 23.  , 24.  ,
       29.  , 20.  , 46.  , 26.  , 59.  , 30.  , 71.  , 23.  , 34.  ,
       34.  , 28.  , 30.  , 21.  , 33.  , 37.  , 28.  , 21.  , 30.  ,
       38.  , 30.  , 47.  , 14.5 , 22.  , 20.  , 17.  , 21.  , 70.5 ,
       29.  , 24.  ,  2.  , 21.  , 30.  , 32.5 , 32.5 , 54.  , 12.  ,
       30.  , 24.  , 30.  , 45.  , 33.  , 20.  , 47.  , 29.  , 25.  ,
       23.  , 19.  , 37.  , 16.  , 24.  , 30.  , 22.  , 24.  , 19.  ,
       18.  , 19.  , 27.  ,  9.  , 36.5 , 42.  , 51.  , 22.  , 55.5 ,
       40.5 , 30.  , 51.  , 16.  , 30.  , 30.  , 30.  , 44.  , 40.  ,
       26.  , 17.  ,  1.  ,  9.  , 30.  , 45.  , 30.  , 28.  , 61.  ,
        4.  ,  1.  , 21.  , 56.  , 18.  , 30.  , 50.  , 30.  , 36.  ,
       30.  , 30.  ,  9.  ,  1.  ,  4.  , 30.  , 30.  , 45.  , 40.  ,
       36.  , 32.  , 19.  , 19.  ,  3.  , 44.  , 58.  , 30.  , 42.  ,
       30.  , 24.  , 28.  , 30.  , 34.  , 45.5 , 18.  ,  2.  , 32.  ,
       26.  , 16.  , 40.  , 24.  , 35.  , 22.  , 30.  , 30.  , 31.  ,
       27.  , 42.  , 32.  , 30.  , 16.  , 27.  , 51.  , 30.  , 38.  ,
       22.  , 19.  , 20.5 , 18.  , 30.  , 35.  , 29.  , 59.  ,  5.  ,
       24.  , 30.  , 44.  ,  8.  , 19.  , 33.  , 30.  , 30.  , 29.  ,
       22.  , 30.  , 44.  , 25.  , 24.  , 37.  , 54.  , 30.  , 29.  ,
       62.  , 30.  , 41.  , 29.  , 30.  , 30.  , 35.  , 50.  , 30.  ,
        3.  , 52.  , 40.  , 30.  , 36.  , 16.  , 25.  , 58.  , 35.  ,
       30.  , 25.  , 41.  , 37.  , 30.  , 63.  , 45.  , 30.  ,  7.  ,
       35.  , 65.  , 28.  , 16.  , 19.  , 30.  , 33.  , 30.  , 22.  ,
       42.  , 22.  , 26.  , 19.  , 36.  , 24.  , 24.  , 30.  , 23.5 ,
        2.  , 30.  , 50.  , 30.  , 30.  , 19.  , 30.  , 30.  ,  0.92,
       30.  , 17.  , 30.  , 30.  , 24.  , 18.  , 26.  , 28.  , 43.  ,
       26.  , 24.  , 54.  , 31.  , 40.  , 22.  , 27.  , 30.  , 22.  ,
       30.  , 36.  , 61.  , 36.  , 31.  , 16.  , 30.  , 45.5 , 38.  ,
       16.  , 30.  , 30.  , 29.  , 41.  , 45.  , 45.  ,  2.  , 24.  ,
       28.  , 25.  , 36.  , 24.  , 40.  , 30.  ,  3.  , 42.  , 23.  ,
       30.  , 15.  , 25.  , 30.  , 28.  , 22.  , 38.  , 30.  , 30.  ,
       40.  , 29.  , 45.  , 35.  , 30.  , 30.  , 60.  , 30.  , 30.  ,
       24.  , 25.  , 18.  , 19.  , 22.  ,  3.  , 30.  , 22.  , 27.  ,
       20.  , 19.  , 42.  ,  1.  , 32.  , 35.  , 30.  , 18.  ,  1.  ,
       36.  , 30.  , 17.  , 36.  , 21.  , 28.  , 23.  , 24.  , 22.  ,
       31.  , 46.  , 23.  , 28.  , 39.  , 26.  , 21.  , 28.  , 20.  ,
       34.  , 51.  ,  3.  , 21.  , 30.  , 30.  , 30.  , 33.  , 30.  ,
       44.  , 30.  , 34.  , 18.  , 30.  , 10.  , 30.  , 21.  , 29.  ,
       28.  , 18.  , 30.  , 28.  , 19.  , 30.  , 32.  , 28.  , 30.  ,
       42.  , 17.  , 50.  , 14.  , 21.  , 24.  , 64.  , 31.  , 45.  ,
       20.  , 25.  , 28.  , 30.  ,  4.  , 13.  , 34.  ,  5.  , 52.  ,
       36.  , 30.  , 30.  , 49.  , 30.  , 29.  , 65.  , 30.  , 50.  ,
       30.  , 48.  , 34.  , 47.  , 48.  , 30.  , 38.  , 30.  , 56.  ,
       30.  ,  0.75, 30.  , 38.  , 33.  , 23.  , 22.  , 30.  , 34.  ,
       29.  , 22.  ,  2.  ,  9.  , 30.  , 50.  , 63.  , 25.  , 30.  ,
       35.  , 58.  , 30.  ,  9.  , 30.  , 21.  , 55.  , 71.  , 21.  ,
       30.  , 54.  , 30.  , 25.  , 24.  , 17.  , 21.  , 30.  , 37.  ,
       16.  , 18.  , 33.  , 30.  , 28.  , 26.  , 29.  , 30.  , 36.  ,
       54.  , 24.  , 47.  , 34.  , 30.  , 36.  , 32.  , 30.  , 22.  ,
       30.  , 44.  , 30.  , 40.5 , 50.  , 30.  , 39.  , 23.  ,  2.  ,
       30.  , 17.  , 30.  , 30.  ,  7.  , 45.  , 30.  , 30.  , 22.  ,
       36.  ,  9.  , 11.  , 32.  , 50.  , 64.  , 19.  , 30.  , 33.  ,
        8.  , 17.  , 27.  , 30.  , 22.  , 22.  , 62.  , 48.  , 30.  ,
       39.  , 36.  , 30.  , 40.  , 28.  , 30.  , 30.  , 24.  , 19.  ,
       29.  , 30.  , 32.  , 62.  , 53.  , 36.  , 30.  , 16.  , 19.  ,
       34.  , 39.  , 30.  , 32.  , 25.  , 39.  , 54.  , 36.  , 30.  ,
       18.  , 47.  , 60.  , 22.  , 30.  , 35.  , 52.  , 47.  , 30.  ,
       37.  , 36.  , 30.  , 49.  , 30.  , 49.  , 24.  , 30.  , 30.  ,
       44.  , 35.  , 36.  , 30.  , 27.  , 22.  , 40.  , 39.  , 30.  ,
       30.  , 30.  , 35.  , 24.  , 34.  , 26.  ,  4.  , 26.  , 27.  ,
       42.  , 20.  , 21.  , 21.  , 61.  , 57.  , 21.  , 26.  , 30.  ,
       80.  , 51.  , 32.  , 30.  ,  9.  , 28.  , 32.  , 31.  , 41.  ,
       30.  , 20.  , 24.  ,  2.  , 30.  ,  0.75, 48.  , 19.  , 56.  ,
       30.  , 23.  , 30.  , 18.  , 21.  , 30.  , 18.  , 24.  , 30.  ,
       32.  , 23.  , 58.  , 50.  , 40.  , 47.  , 36.  , 20.  , 32.  ,
       25.  , 30.  , 43.  , 30.  , 40.  , 31.  , 70.  , 31.  , 30.  ,
       18.  , 24.5 , 18.  , 43.  , 36.  , 30.  , 27.  , 20.  , 14.  ,
       60.  , 25.  , 14.  , 19.  , 18.  , 15.  , 31.  ,  4.  , 30.  ,
       25.  , 60.  , 52.  , 44.  , 30.  , 49.  , 42.  , 18.  , 35.  ,
       18.  , 25.  , 26.  , 39.  , 45.  , 42.  , 22.  , 30.  , 24.  ,
       30.  , 48.  , 29.  , 52.  , 19.  , 38.  , 27.  , 30.  , 33.  ,
        6.  , 17.  , 34.  , 50.  , 27.  , 20.  , 30.  , 30.  , 25.  ,
       25.  , 29.  , 11.  , 30.  , 23.  , 23.  , 28.5 , 48.  , 35.  ,
       30.  , 30.  , 30.  , 36.  , 21.  , 24.  , 31.  , 70.  , 16.  ,
       30.  , 19.  , 31.  ,  4.  ,  6.  , 33.  , 23.  , 48.  ,  0.67,
       28.  , 18.  , 34.  , 33.  , 30.  , 41.  , 20.  , 36.  , 16.  ,
       51.  , 30.  , 30.5 , 30.  , 32.  , 24.  , 48.  , 57.  , 30.  ,
       54.  , 18.  , 30.  ,  5.  , 30.  , 43.  , 13.  , 17.  , 29.  ,
       30.  , 25.  , 25.  , 18.  ,  8.  ,  1.  , 46.  , 30.  , 16.  ,
       30.  , 30.  , 25.  , 39.  , 49.  , 31.  , 30.  , 30.  , 34.  ,
       31.  , 11.  ,  0.42, 27.  , 31.  , 39.  , 18.  , 39.  , 33.  ,
       26.  , 39.  , 35.  ,  6.  , 30.5 , 30.  , 23.  , 31.  , 43.  ,
       10.  , 52.  , 27.  , 38.  , 27.  ,  2.  , 30.  , 30.  ,  1.  ,
       30.  , 62.  , 15.  ,  0.83, 30.  , 23.  , 18.  , 39.  , 21.  ,
       30.  , 32.  , 30.  , 20.  , 16.  , 30.  , 34.5 , 17.  , 42.  ,
       30.  , 35.  , 28.  , 30.  ,  4.  , 74.  ,  9.  , 16.  , 44.  ,
       18.  , 45.  , 51.  , 24.  , 30.  , 41.  , 21.  , 48.  , 30.  ,
       24.  , 42.  , 27.  , 31.  , 30.  ,  4.  , 26.  , 47.  , 33.  ,
       47.  , 28.  , 15.  , 20.  , 19.  , 30.  , 56.  , 25.  , 33.  ,
       22.  , 28.  , 25.  , 39.  , 27.  , 19.  , 30.  , 26.  , 32.  ])

Given the strict class system onboard the Titanic, let’s utilize the Pclass column, or the passenger class, as another feature to predict the survival.

In [24]:
passengers['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

As we can see above there is 3 different class level which is class 1, 2 and 3.

First we create a new column named FirstClass that stores 1 for all passengers in first class and 0 for all other passengers.

In [25]:
passengers['FirstClass'] = passengers['Pclass'].apply(lambda x: 1 if x == 1 else 0)

Next we create a new column named SecondClass that stores 1 for all passengers in second class and 0 for all other passengers.

In [27]:
passengers['SecondClass'] = passengers['Pclass'].apply(lambda x: 1 if x == 2 else 0)

In [29]:
passengers.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FirstClass,SecondClass
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,1,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,0,0
5,6,0,3,"Moran, Mr. James",0,30.0,0,0,330877,8.4583,NaN,Q,0,0
6,7,0,1,"McCarthy, Mr. Timothy J",0,54.0,0,0,17463,51.8625,E46,S,1,0
7,8,0,3,"Palsson, Master. Gosta Leonard",0,2.0,3,1,349909,21.0750,NaN,S,0,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,27.0,0,2,347742,11.1333,NaN,S,0,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.0,1,0,237736,30.0708,NaN,C,0,1

In [30]:
features = passengers[['Sex', 'Age', 'FirstClass', 'SecondClass']]
survival = passengers['Survived']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(features, survival, test_size=0.25)

In [32]:
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [33]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [34]:
model.score(X_train, y_train)

0.8083832335329342

In [35]:
model.score(X_test, y_test)

0.7802690582959642

The accuracy score of our training set is 80% and the accuracy score for our test set is 78%.

In [38]:
print(list(zip(['Sex','Age','FirstClass','SecondClass'],model.coef_[0])))

[('Sex', 1.2251084426677075), ('Age', -0.46924986033609034), ('FirstClass', 0.9318377525142388), ('SecondClass', 0.48361565148352653)]

Sex and FirstClass features have higher coefficient which indicates that both of this features are important
in predicting the survival on the sinking of the Titanic.

Let’s use our model to make predictions on the survival of a few fateful passengers.

In [39]:
Jack = np.array([0.0, 20.0, 0.0, 0.0])
Rose = np.array([1.0, 17.0, 1.0, 0.0])
Suho = np.array([0.0, 30.0, 1.0, 0.0])

In [40]:
sample_passengers = np.array([Jack, Rose, Suho])

In [41]:
sample_passengers = scaler.transform(sample_passengers)

C:\Users\User\anaconda3n\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [45]:
sample_passengers

array([[-0.80737343, -0.71437467, -0.57907628, -0.52372294],
       [ 1.23858424, -0.93148616,  1.7268882 , -0.52372294],
       [-0.80737343,  0.00933028,  1.7268882 , -0.52372294]])

In [43]:
model.predict(sample_passengers)

array([0, 1, 0], dtype=int64)

In [44]:
model.predict_proba(sample_passengers)

array([[0.88445022, 0.11554978],
       [0.06169226, 0.93830774],
       [0.55628012, 0.44371988]])

##### From our model prediction, it appears that Rose has a better fate compare to Jack and Suho. <br> Base on the prediction, there is a high probability that Rose will survive the sinking of the Titanic.